body {
	    margin: 15px;
}
.row .title {
	display: block;
	font-weight: bold;
	color: #516356;
	font-size: 16px;
	margin-top: 5px;
}

.row .btn-primary {
	float: right;
	background-color: #8ccdf7;
	border: none;
	position: relative;
	height: 40px;
    padding-top: 10px;
}
.row .category {
	font-size: 10px;
	font-weight: bold;
	color: #888da8;
}

.row .col-md-4 {
	margin-bottom: 30px;
}
.row .btn-primary .count {
	background-color: #ff5e3a;
	height: 16px;
	width: 16px;
	color: #fff;
	font-weight: bold;
	font-size: 10px;
	position: absolute;
    border-radius: 10px;
    top: -5px;
    right: -5px;
    display: none;
}